{% block footer %}
<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 footerleft ">
                <h3> Site conçu avec </h3>
                <li>Bootstrap <a target="_blank" href="https://getbootstrap.com/">Framework CSS</a></li>
                <li>Symfony <a target="_blank" href="https://symfony.com/">Framework PHP</a></li>
            </div>
            <div class="col-md-4 col-sm-6 padding-bottom" align="center">
                <h7 class="heading7" style="color: #99a;">© 2018 François Frey</h7>
                <p>Tous droits réservés</p>
            </div>
            <div class="col-md-4 col-sm-6 paddingtop-bottom" align="right">
                <h3>Liens Utiles</h3>
                <li><a href="http://www.louvre.fr/" target="_blank"> Musée du Louvre </a></li>
            </div>
        </div>
    </div>
</div>
{% endblock %}