<!Doctype html>
<html lang="fr">
<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ asset('css/books.css') }}" rel="stylesheet">
    <title>{% block headtitle %}Billeterie du Louvre {% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>

<body>
{% block header %}
    {% include 'navbar.html.twig' %}
{% endblock %}

<div class="container-fluid">
    <main role="main">
        <div class="row">
            <div class="col-md-12" style="padding-top: 30px;">
                <!-- Ajouter le titre -->
            </div>

            <div class="col-md-12">
                {% block body %}
                    {% block form %}
                <!-- ajouter le coeur du site et les block de formulaire -->
                    {% endblock %}
                {% endblock %}
            </div>
        </div>
    </main>
</div>

<footer class="footer">
    <div class="container">
        {% block footer %}
            {% include 'footer.html.twig' %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% block script %}
    {% endblock %}
</footer>
</body>
</html>