.title
{
    text-align: center;
    margin-bottom: 30px;
}
.navbar
{
    background-color: #ec954d;
    border-bottom: solid;
    border-color: rgba(0,0,0,.15);
    border-width: 1px;
}

.nav-link
{
    font-size: 1.5em !important;
}
.navbar-nav mr-auto
{
    padding-left: 35px !important;
}
main
{
    padding-top: 50px;
}
.tickets
{
    padding-left : 75px; 
}
form{
    border: solid;
    border-radius: 30px;
    border-color: #C0C0C0;
    border-width: 0.5px;

    padding-top: 35px;

}

#p4_bookingbundle_books_ticket div
{
    margin: 10px;
}

.list-group
{
    width: 90%;
}
.form-group input
{
    width: 100%;
    border-radius: 5px;
    text-align: center; 
}
.well
{
    padding-left: 15px;
    padding-right: 15px;
}
.mr-auto{
    text-align: right;
    padding-right: 40px;
}
.datepicker-days
{
    width: 100%;
    padding: 20px;
    font-size: 1.5em;
}
.footer{
    margin-top: 100px;
    border-color: rgba(0,0,0,.15);
    border-top: solid;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #262626;
     border-width: 1px;
    position: absolute;
    width: 100%;
}
.footer h3{
    color: #FAFAFA;
    font-weight: normal;
    margin-bottom: 15px;
}

.footer a,.footer p{
    color: #ccd;
}
.footer li{
    color: #99a;
}

.jumbotron-flat{
    
background-color: #4DB8FFF;
height: 100%;
border: 1px solid #4DB8FF;
background: white;
width: 100%;
text-align: center;
overflow: auto;
}

.paymentAmt {
    font-size: 80px; 
}

.centered {
    text-align: center;
}

.title {
 padding-top: 15px;   
}
input {
    border: solid;
    border-color: #C0C0C0;
    border-radius: 4px;
}
div.card-body {
        padding: 25px !important;
}
div.card.border-dark.mb-3{
    height:auto !important;
    padding-top: 30px;
}
.subtitle{
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 1.25em;
    font-weight: normal;
    padding: 0 0 16px 0;
}
.location{
    color: #9a9a9a;
    font-size: 1.0em;
    font-weight: bold;
    border-top: 1px solid #4d4d4d;
    padding: 5px 0 0 0;
}
.title_expo{
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 3.0em;
    font-weight: normal;
    text-transform: uppercase;
    padding: 0 0 1px 0;
}
.type_expo{
    font-size: 1.25em;
    font-weight: bold;
}
